version: '3.8'

services:
  db:
      image: postgres:latest
      container_name: postgres_db
      restart: always
      env_file: .env
      ports:
        - "5432:5432"
      volumes:
        - db_data:/var/lib/postgresql/data #https://github.com/docker-library/docs/blob/master/postgres/README.md
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5

  api:
    build: .
    container_name: lemo_backend_api
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  db_data: